@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --color-primary: #030014;
  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;
  --color-gray-100: #9ca4ab;
  --color-dark-100: #0f0d23;
  --font-dm-sans: "DM Sans", sans-serif;
  --breakpoint-xs: 480px;
  --background-image-hero-pattern: url("/hero-bg.png");
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  background: var(--color-primary);
}

h1 {
  max-width: 64rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1%;
  color: white;
}

@media (min-width: 640px) {
  h1 {
    font-size: 64px;
    line-height: 76px;
  }
}

h2 {
  font-size: 2xl;
  font-weight: bold;
  color: white;
}

@media (min-width: 640px) {
  h2 {
    font-size: 3xl;
  }
}

main {
  min-height: 100vh;
  position: relative;
  background-color: var(--color-primary);
}

header {
  margin-top: 20px;
}

@media (min-width: 640px) {
  header {
    margin-top: 40px;
  }
}

header img {
  width: 100%;
  max-width: 32rem;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.pattern {
  background: var(--background-image-hero-pattern);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.wrapper {
  padding: 12px 20px;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.trending {
  margin-top: 5rem;
}
.trending h2{
  padding-bottom: 24px;
}
.trending ul {

  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 1.25rem;
  margin-top: -2.5rem;
  width: 100%;
}

.trending ul li {
  min-width: 230px;
  display: flex;
  align-items: center;
}
 
.trending p {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 200px;
  padding-top: 20px;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding-right: 30px;
  white-space: nowrap;
}

.trending ul li img {
  width: 127px;
  height: 163px;
  border-radius: 0.5rem;
  object-fit: cover;
  margin-left: -14px;
}

.search {
  width: 100%;
  background: rgba(206, 206, 251, 0.05);
  padding: 12px 16px;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.search div {
  position: relative;
  display: flex;
  align-items: center;
}

.search img {
  position: absolute;
  left: 8px;
  height: 20px;
  width: 20px;
}

.search input {
  width: 100%;
  background: transparent;
  padding: 8px 10px;
  padding-left: 40px;
  font-size: 1rem;
  color: #d1d5db;
  outline: none;
  border: none;
}

.all-movies {
  display: grid;
  gap: 36px;
}

.all-movies ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

@media (min-width: 480px) {
  .all-movies ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .all-movies ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .all-movies ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movie-card {
  background-color: var(--color-dark-100);
  padding: 20px;
  border-radius: 1rem;
  color: white;
  box-shadow: inset 0 4px 6px rgba(206, 206, 251, 0.1);
}

.movie-card img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.movie-card h3 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-card .content {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.movie-card .rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.movie-card .rating img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.movie-card .rating p {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}